{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="display-1">{{ app_title }}</h1>

    <h2>Jornadas y horas lectivas entre dos fechas</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Calcular</button>
    {{ form_end(form) }}

    {% if stats %}
        <div class="border border-tertiary rounded-3 mt-3 p-2">
            <table class="table table-striped">
            <tr><th colspan="2">Resultados</th></tr>
                <tr><td class="col-2">Días totales del período:</td><td><strong>{{ stats.total_days }} días</strong></td>
                <tr><td>Jornadas lectivas:</td><td><strong>{{ stats.working_days }} jornadas</strong></td>
                <tr><td>Horas lectivas:</td><td><strong>{{ stats.total_hours }} horas</strong></td>
            </table>
        </div>
        {% include 'partial/calendar_partial.html.twig' %}
    {% endif %}
{% endblock %}
